{% extends 'base.html.twig' %}

{% block title %}Bienvenue | Accueil{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
<div class = 'alert alert-success'>
{{ message }}

</div>
{% endfor %}

{% endblock %}
