{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class='container col-xl-3 mt-5 text-center'>

    <h3>Reset your password</h3>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}

    
        <div>
            <small>
                Enter your email address and we will send you a
                link to reset your password.
            </small>
        </div>

        <button class="btn btn-warning mt-4">Send password reset email</button>
    </div>
    {{ form_end(requestForm) }}
{% endblock %}
