{{form_start(form)}}
    <div class="row">
        <div class="col-md-6 mt-5">{{form_row(form.name)}}</div>
        <div class="col-md-6 mt-4">{{form_row(form.description)}}</div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-5">{{form_row(form.capacity)}}</div>
        <div class="col-md-4 mt-5">{{form_row(form.city)}}</div>
    </div>

    <button class="btn btn-warning mt-5">Valider</button>
{{form_end(form)}}