{% extends 'base.html.twig' %}

{% block title %} Modifier une salle {% endblock %}

{% block body %}
    
    <div class="container w-75">
        {{ include('room/_form.html.twig') }}
    </div>

{% endblock %}